---
const year = new Date().getFullYear();
---

<footer>
  <div class="container">
    <p>&copy; {year} shavkatov.io</p>
  </div>
</footer>

<style>
  footer {
    padding: 2rem 0;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    color: var(--color-secondary);
    font-size: 0.9rem;
  }

  footer p {
    margin: 0;
  }
</style>
